[submodule "nutaxi-submodule"]
	path = nutaxi-submodule
	url = https://github.com/microservicesteam/nutaxi-submodule
[submodule "nutaxi-cache"]
	path = nutaxi-cache
	url = https://github.com/microservicesteam/nutaxi-cache.git
